<!-- Button trigger modal -->
<button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#invoiceModal" data-product-id="<%= product.id %>" data-product-name="<%= product.name%>" data-product-price="<%= product.price %>" data-quantity="<%product.quantity%>">
  Buy
</button>